{% extends 'index.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Recipe Finder</h1>
            <!-- <img src="/static/img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="{{url_for('admin_home')}}" class="nav-item nav-link">Home</a>
                <a href="{{url_for('add_recipie')}}" class="nav-item nav-link active">Add</a>
                <a href="{{url_for('view_recipie')}}" class="nav-item nav-link">View</a>
            </div>
            <a href="{{url_for('index')}}" class="btn btn-primary py-2 px-4">LogOut</a>
        </div>
    </nav>
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Add Recipie</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-12">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form action="{{url_for('add_recipie')}}" method="post" enctype="multipart/form-data">
                            <div class="row g-3">

                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" name="r_name" placeholder="Your Name" required>
                                        <label for="name">Recipie Name</label>
                                    </div>
                                </div><br>
                                
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                                        <label for="image">Image</label>
                                    </div>
                                </div><br>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea style="height: 100px;" class="form-control" name="ingredients" required>Ingredients</textarea>
                                    </div>
                                </div><br>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea style="height: 100px;" class="form-control" name="procedure" required>Making Procedure</textarea>
                                    </div>
                                </div><br>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="video_link" name="video_link" placeholder="Video Link" required>
                                        <label for="video_link">Video Link</label>
                                    </div>
                                </div><br>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}